<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ul>
    <li><a [routerLink]="['home']">FormsComponent</a></li>
    <li><a [routerLink]="['about']">FormsBuilderComponent</a></li>
    <li><a [routerLink]="['observables']">observables</a></li>
  </ul>
  <!--<app-observables></app-observables>-->
  <!--<app-forms></app-forms>-->
  <!--<app-forms-builder></app-forms-builder>-->
  <router-outlet></router-outlet>
</div>


